.jumbotron {
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

th {
    text-align: center;
}

.table {
    margin-top: 20px;
}
.form-control {
    margin-top: 5px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.btn-success {
    margin-top: 10px;
}
.btn-danger {
    margin-top: 10px;
}

.selected {
    background-color: blueviolet;
}
